* {

    box-sizing: border-box;
}
.container {
    width: 1280px;
    margin: 0 auto;
}
.hero {
    font-weight:normal ;
    font-family: "Roboto Light";
    font-size: 80px;
    line-height: 94px;
    color: #000000;
}
.hero span {
    color:#3181A6 ;
}
.menu {
    display: flex;
    margin-bottom: 48px;
    margin-top: 60px;
    background: #35444F;
    justify-content: center;

}
.menu-item {
    padding: 20px 40px;
    border-left: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;

}
.menu-item a {
    color: #FFFFFF;
}
.menu-item:hover {
    background-color: #222F3A;
}
.main-nav {
    border: 1px solid #000000;
    width: 340px;

}
.aside-menu {
    padding: 27px 0px 27px 44px;
    font-weight: normal;
    color: #35444F;
    font-family: "Roboto Light";
    font-size: 27px;
    line-height: 27px;

}
.aside-menu:hover {
    background: #DBDBDB;
    padding-left: 80px;
    color: black;
}
.wrapp-img {
    display: flex;
}
.photo {
    height: 381px;
    padding: 74px 283px;
    margin-left:52px;
    border: 1px solid #000000;

}
.text{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    padding-top: 35px;
    padding-left: 52px;
    font-family: Arial;
}
.footer-menu{
    display: flex;
    margin-top: 60px;
    justify-content: center;
    padding: 20px;
    background: rgba(99, 105, 110, 0.48);

}
.footer-menu-item {
    margin: 0 20px;
    font-weight: normal;
    font-size: 26px;
    line-height: 26px;
    font-family: sans-serif;

}
.footer-menu-item:hover{
    color: #3181A6;
    border-bottom: 1px #3181A6 solid;
    padding-bottom: 13px;
}

.copyrights{
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    margin-left: 135px;
    font-family: sans-serif;
}
