* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 1280px;
    margin: 0 auto;
    text-align: center;
}

.menu{
    display: flex;
    margin: 25.5px 330px;
    justify-content: space-between;
}

.menu-list{
    display: inline-block;
}

.menu-list-link{
    font-size: 18px;
    color: #FF0000;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2.7px;
}

main{
    color: #373737;
}

.image{
    width: 100%;
    margin-bottom: 49px;
}

.title{
    font-size: 22px;
    line-height: 27px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 3.3px;
    margin-bottom: 38px;
}

.text{
    margin: 0 67.5px 28px;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.4px;
}

.buttom {
    display: inline-block;
    margin: 38px auto 99px;
    font-size: 12px;
    text-transform: uppercase;
    color: white;
    padding: 18px 43.5px;
    letter-spacing: 1.8px;
    border-radius: 4px;
    background-color: #FF0000;
    font-weight: bold;
}

.copyright{
    text-align: right;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.4px;
    color: #373737;
    margin: 0 105px 29px 0;
}
